@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* Estilo base del menú */
.menu_list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    background-color: rgb(44, 40, 75);
}

.menu__list__item {
    display: inline-block;
    margin: 0 10px; /* Espacio entre elementos del menú */
}

.menu__list__item a {
    text-decoration: none;
    color: #ffffff; /* Color del texto del enlace */
    padding: 10px 15px; /* Espacio dentro de cada elemento del menú */
    display: block;
    transition: 0.7s;
}

.menu__list__item a:hover {
    color: #fFCC00;
}







/*HOLA MI NOMBRE ES*/


.btn_1{
    width: 50%;
    height: 40px;
    font-family: "Press Start 2P", system-ui;
    border-radius: 28px;
    background: #fFCC00;
    transition: 0.6s;
}

.btn_1:hover{
    background: #da8300;
    color: white;
    transform: scale(1.1);
}


/*
.btn_cv_download {
    background-color: #3085d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.6s;
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
}

.btn_cv_download:hover {
    transform: scale(1.1);
    background-color: #1a61a3;
}


.title__network {
    display: flex; 
    list-style-type: none; 
    padding: 0; 
    justify-content: center; 
}
.title__network__item {
    margin-right: 20px; 
}

.title__network__item a img {
    width: 30px; 
    height: auto; 
}


.title{
    background-image: url("assets/pueblopaleta.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0; 
    text-align: center; 
}

.title__div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__container{
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 28px;
    padding: 25px;
    margin: 20px;
    width: 40%;
    font-size: 15px;
    line-height: 1.5;
}


.title__container h2{
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.title__container h3{
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
}

.title__profile{
    max-width: 100%; 
    height: auto; 
}
*/
.title__container h2{
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.title__container h3{
    font-family: "Press Start 2P", system-ui;
    font-size: 13px;
}

.title__profile{
    max-width: 100%; 
    height: auto; 
}

.title {
    text-align: center;
    padding: 50px 0;
    background-image: url("assets/pueblopaleta.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title__div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title__container {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 20px;
    margin-right: 20px; /* Espacio entre el contenedor y la foto */
  }
  
  .title__bio {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Espacio inferior */
    line-height: 40px;
  }
  
  .title__subsection {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px; /* Espacio inferior */
    line-height: 25px;
  }
  
  .title__network {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .title__network__item {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los íconos de red */
  }
  
  .title__network__item:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último ícono de red */
  }
  
  .title__network__item img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Hacer los íconos de red redondeados */
  }
  
  .title__profile {
    max-width: 200px;
    border-radius: 50%; /* Hacer la foto redondeada */
  }
  



/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .title__container {
        padding: 15px; /* Reducir el padding para dispositivos móviles */
        margin: 20px;
    
    }

    .title__div {
        align-items: flex-start; /* Alinear elementos al inicio en dispositivos móviles */
        display: inline-block;
    }
}

/**/




.about__title{
    text-align: center; /* Centra el título */
}

.about__paragraph{
    margin: 20px; /* Agrega espacio entre párrafos */
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
}






.skills {
    text-align: center;
    padding: 50px 0;
}

.skills__title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.skills__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__box {
    margin: 0 20px;
    margin-bottom: 30px;
}

.skills__img img{
    width: 100px; /* Establece el ancho deseado para todas las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

.skills__name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}

.skills__box {
    position: relative; /* Establece la posición relativa para que los elementos internos se posicionen con respecto a este contenedor */
    margin: 0 20px;
    margin-bottom: 30px;
    text-align: center; /* Centra el contenido dentro de cada caja */
}

.skills__img {
    width: 100px; /* Establece el ancho deseado para todas las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    display: block; /* Permite que las imágenes se ajusten correctamente dentro de su contenedor */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    position: relative; /* Establece la posición relativa para que el círculo se posicione correctamente */
    z-index: 1; /* Asegura que la imagen esté por encima del círculo */
}

.skills__img::before {
    content: ""; /* Agrega un contenido vacío para que el pseudo-elemento sea visible */
    position: absolute; /* Establece la posición absoluta con respecto al contenedor padre (.skills__box) */
    top: 50%; /* Coloca el círculo en el centro verticalmente */
    left: 50%; /* Coloca el círculo en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra el círculo correctamente */
    width: 100px; /* Establece el tamaño del círculo */
    height: 100px; /* Establece el tamaño del círculo */
    background-color: rgba(0, 118, 253, 0.5); /* Cambia aquí el color del círculo */
    border-radius: 50%; /* Hace que el círculo tenga forma circular */
    z-index: -1; /* Asegura que el círculo esté detrás de la imagen */
}












.about__content h3{
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
}



.about__section {
    background-color: #aaaaaa;
    padding: 40px;
    margin-bottom: 50px;
}

.about__content-wrapper {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.about__content {
    flex: 1; /* El contenido ocupará todo el espacio restante */
    margin-right: 20px; /* Agrega espacio entre el contenido y la imagen */
    line-height: 1.6;
}

.about__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px; /* Agrega espacio entre el título y el texto */
}















.about__paragraph {
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
}

.signature__container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 200px;
    justify-content: center; /* Centra horizontalmente el contenido */
    margin-left: auto; /* Alinea el contenedor a la derecha */
    margin-right: auto; /* Alinea el contenedor a la izquierda */
}





/*IMAGEN UNDC*/
.card{
    position: relative;
    width: 500px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}


.card .back .link a {
    color: #f3f3f3;
}


.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    line-height: 1.8;
} 

.card:hover .front {
    transform: perspective(1200px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(1200px) rotateY(360deg);
}


/*ESTILOS FORMACION ACADEMICA*/

.academic {
    text-align: center;
    padding: 50px 0;
    background-image: url("assets/foto_fondo_formacion.jpg");
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del div */
    background-position: center; /* Centra la imagen de fondo */

    
}

.academic__title {
    font-size: 28px;
    margin-bottom: 40px;
    color: #333;
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.academic__courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.academic__courses__box {
    width: 300px; /* Ancho deseado para cada caja de curso */
    margin: 0 20px;
    margin-bottom: 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(249, 249, 249, 0.8);
}

.academic__courses__box:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave al levantar */
}

.academic__courses__list {
    list-style: none;
    padding: 0;
}

.academic__courses__item__img {
    margin-bottom: 20px;
}

.academic__courses__item__img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #292626; /* Borde blanco alrededor de la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de la imagen */
}

.academic__courses__item__title {
    margin-bottom: 10px;

}

.academic__courses__item__title h4 {
    font-size: 20px;
    color: #444;
}

.academic__courses__item__subtitle {
    color: #777;
}


/*ESTILOS PROYECTOS*/

.experience {
    padding: 50px 0;
    text-align: center;
    background: rgb(59, 58, 58);
}

.experience__section__title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Press Start 2P", system-ui;
    font-size: 20px;
}

.experience__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.experience__item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.experience__img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.experience__info {
    margin-bottom: 20px;
}

.experience__title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.experience__text {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.experience__description {
    display: flex;
    justify-content: center;
}

.experience__button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
}

.experience__button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    
}



/*ESTILOS HOBBIES*/

.hobbies {
    text-align: center;
    padding: 50px 0;
}

.hobbies__title {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.hobbies__line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hobbies__box {
    margin: 0 20px;
    margin-bottom: 30px;
}

.hobbies__img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Forma redonda para las imágenes */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del círculo */
}

.hobbies__img img {
    width: 100%;
    height: auto;
}

.hobbies__name {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}


/*ESTILOS FOOTER*/


.footer {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
   
    padding: 10px;
    background: rgb(44, 40, 75);
}

.footer__rodape {
    text-align: center; /* Centra el texto horizontalmente */
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    line-height: 1.8;
    color: white;
}




/*SECCION CONTACTO*/


.formcontato__contacto {
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
    display: flex;
}

.formcontato__contacto{
    background-color: #aaaaaa;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}


.formcontato__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: "Press Start 2P", system-ui;
    color: black;
}

.formcontato__subtext {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 89px;
    color: #666;
    font-family: "Press Start 2P", system-ui;
    color: black;
    font-size: 13px;
}

.formcontato__form {
    margin-top: 20px;
}

.formcontato__input,
.formcontato__textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}

.formcontato__input:focus,
.formcontato__textarea:focus {
    outline: none;
    border-color: #666;
}

.formcontato__botao {
    display: block;
    width: 90%;
    padding: 12px;
    background-color: #007bff;
    font-family: "Press Start 2P", system-ui;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1.2s;
}

.formcontato__botao:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/**/


.card_contacto{
    height: 350px;
    width: 300px;
    margin: 50px;
    transition: 300ms;

}

.personaje, .personaje_2, .personaje_3{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #00a5ec;
    transition: 300ms;
    position: absolute;
}

.imagen_personaje{
    height: 350px;
    width: 200px;
    background-image: url(assets/vegeta.png);
    background-size: cover;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}

.detalle, .detalle_2, .detalle_3{
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}
/* hover */

.card_contacto:hover{
    transform: scale(1.1);
}

.card_contacto:hover .imagen_personaje{
    transform: translatey(-40px);
    transition: 300ms;
    filter: none;
    background-image: url(assets/vegeta_V2.png);
}

.card_contacto:hover .personaje{
    background-image: radial-gradient(white,rgb(255, 0, 221));
}

/* texto y bottun */

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin: auto;
    width: 100%;
    font-size: 12px;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .about__content-wrapper {
        flex-direction: column;
    }

    .card {
        max-width: 100%; /* Utiliza el ancho completo en pantallas pequeñas */
    }

    .formcontato__contacto {
        display: block;
    }

    .menu_list {
        font-size: 8px;
    }
    
}